* {
  margin: 0;
  padding: 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
