* {
  margin: 0;
  padding: 0;
  font-family: "Shadows Into Light", cursive;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.number {
  font-size: 40px;
}

/* https://codepen.io/erikjung/pen/XdWEKE */
.sign {
  text-align: center;
  margin: 5vw;
  font-size: 50px;
  --interval: 1s;
  display: block;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;

  color: lightyellow;
  --color1: yellow;
  --color2: orange;
  --color3: brown;
  --color4: purple;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}
